[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
redis = "*"
python-dotenv = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
requests = "*"
drf-yasg = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
